In [ ]:
#%pip install -q langchain langchain-openai

In [1]:
from dotenv import load_dotenv
import os
# .env íŒŒì¼ì„ ë¶ˆëŸ¬ì™€ì„œ í™˜ê²½ ë³€ìˆ˜ë¡œ ì„¤ì •
load_dotenv(dotenv_path='../.env')

OPENAI_API_KEY = os.getenv("OPENAI_API_KEY")
print(OPENAI_API_KEY[:2])

gs

In [4]:
model  = ChatOpenAI(
    base_url="https://api.groq.com/openai/v1",  # Groq API ì—”ë“œí¬ì¸íŠ¸
    model="meta-llama/llama-4-scout-17b-16e-instruct",  # Spring AIì™€ ë™ì¼í•œ ëª¨ë¸
    temperature=0.7
)

#### 1. CommaSeparatedListOutputParser

In [3]:
from langchain_core.output_parsers import CommaSeparatedListOutputParser
from langchain_core.prompts import PromptTemplate
from langchain_openai import ChatOpenAI
import csv

# ì½¤ë§ˆë¡œ êµ¬ë¶„ëœ ë¦¬ìŠ¤íŠ¸ ì¶œë ¥ íŒŒì„œ ì´ˆê¸°í™”
output_parser = CommaSeparatedListOutputParser()

# ì¶œë ¥ í˜•ì‹ ì§€ì¹¨ ê°€ì ¸ì˜¤ê¸°
format_instructions = output_parser.get_format_instructions()

# í”„ë¡¬í”„íŠ¸ í…œí”Œë¦¿ ì„¤ì •
prompt = PromptTemplate(
    template="List five {subject}.\n{format_instructions}",
    input_variables=["subject"],
    partial_variables={"format_instructions": format_instructions},
)

# OpenAI ëª¨ë¸ ì„¤ì •
model  = ChatOpenAI(
    base_url="https://api.groq.com/openai/v1",  # Groq API ì—”ë“œí¬ì¸íŠ¸
    model="meta-llama/llama-4-scout-17b-16e-instruct",  # Spring AIì™€ ë™ì¼í•œ ëª¨ë¸
    temperature=0.7
)


# í”„ë¡¬í”„íŠ¸, ëª¨ë¸, ì¶œë ¥ íŒŒì„œë¥¼ ì—°ê²°í•˜ì—¬ ì²´ì¸ ìƒì„±
chain = prompt | model | output_parser

# "AI ê´€ë ¨ ê¸°ìˆ "ì— ëŒ€í•œ ì²´ì¸ í˜¸ì¶œ ì‹¤í–‰
result = chain.invoke({"subject": "AI ê´€ë ¨ ê¸°ìˆ "})

# ì‰¼í‘œë¡œ êµ¬ë¶„ëœ ë¦¬ìŠ¤íŠ¸ ì¶œë ¥
print("AI ê´€ë ¨ ê¸°ìˆ  ëª©ë¡:")
print(result)

# ê²°ê³¼ í™œìš© ì˜ˆì‹œ: CSV íŒŒì¼ë¡œ ì €ì¥
csv_filename = "data/ai_technologies.csv"
with open(csv_filename, "w", newline="", encoding="utf-8") as file:
    writer = csv.writer(file)
    writer.writerow(["AI ê¸°ìˆ "])  # í—¤ë” ì¶”ê°€
    for item in result:
        writer.writerow([item])

print(f" '{csv_filename}' íŒŒì¼ë¡œ ì €ì¥ ì™„ë£Œ!")

AI ê´€ë ¨ ê¸°ìˆ  ëª©ë¡:
['Machine Learning', 'Deep Learning', 'Natural Language Processing', 'Computer Vision', 'Robotics']
 'data/ai_technologies.csv' íŒŒì¼ë¡œ ì €ì¥ ì™„ë£Œ!

#### 2. JsonOutputParser

In [9]:
from langchain_core.prompts import ChatPromptTemplate
from langchain_core.output_parsers import JsonOutputParser
from langchain_openai import ChatOpenAI
import json

# JSON ì¶œë ¥ íŒŒì„œ ì´ˆê¸°í™”
parser = JsonOutputParser()

# í”„ë¡¬í”„íŠ¸ í…œí”Œë¦¿ì„ ì„¤ì •í•©ë‹ˆë‹¤.
prompt = ChatPromptTemplate.from_messages(
    [
        ("system", "ë‹¹ì‹ ì€ ê³¼í•™ ë¶„ì•¼ ì „ë¬¸ê°€ AIì…ë‹ˆë‹¤. ì§ˆë¬¸ì— ëŒ€í•´ ì²´ê³„ì ì´ê³  ê°„ê²°í•œ ë‹µë³€ì„ JSON í˜•ì‹ìœ¼ë¡œ ì œê³µí•˜ì„¸ìš”."),
        ("user", "#Format: {format_instructions}\n\n#Question: {question}"),
    ]
)

# JSON ì¶œë ¥ í˜•ì‹ ì§€ì¹¨ì„ í”„ë¡¬í”„íŠ¸ì— ì ìš©
prompt = prompt.partial(format_instructions=parser.get_format_instructions())

# OpenAI ëª¨ë¸ ì„¤ì •
#model = ChatOpenAI(model="gpt-3.5-turbo-0125", temperature=0)

# í”„ë¡¬í”„íŠ¸, ëª¨ë¸, ì¶œë ¥ íŒŒì„œë¥¼ ì—°ê²°í•˜ëŠ” ì²´ì¸ ìƒì„±
chain = prompt | model | parser

# ì§ˆë¬¸ ì„¤ì • (ìš°ì£¼ íƒì‚¬ ê´€ë ¨ ì§ˆë¬¸)
question = "ìµœê·¼ 10ë…„ê°„ ì§„í–‰ëœ ì£¼ìš” ìš°ì£¼ íƒì‚¬ ë¯¸ì…˜ 3ê°€ì§€ë¥¼ ì•Œë ¤ì£¼ì„¸ìš”. \
ê° ë¯¸ì…˜ì˜ ì´ë¦„ì€ `mission_name`ì—, ëª©í‘œëŠ” `goal`ì—, ì£¼ê´€ ê¸°ê´€ì€ `agency`ì— ë‹´ì•„ ì£¼ì„¸ìš”."

# ì²´ì¸ ì‹¤í–‰ ë° JSON ì‘ë‹µ ë°›ê¸°
response = chain.invoke({"question": question})

# JSON ë°ì´í„° ì¶œë ¥
print(json.dumps(response, indent=4, ensure_ascii=False))

{
    "missions": [
        {
            "mission_name": "ë‰´í˜¸ë¼ì´ì¦ŒìŠ¤(New Horizons)",
            "goal": "ëª…ì™•ì„± ë° ì¹´ì´í¼ ë²¨íŠ¸ íƒì‚¬",
            "agency": "NASA"
        },
        {
            "mission_name": "ë¡œì œíƒ€(Rosetta)",
            "goal": "í˜œì„± 67P/ì¶”ë¦¬ì›€ íƒì‚¬",
            "agency": "ESA"
        },
        {
            "mission_name": "íŒŒì»¤ íƒœì–‘ íƒì‚¬ì„ (Parker Solar Probe)",
            "goal": "íƒœì–‘ì˜ ì½”ë¡œë‚˜ ë° íƒœì–‘í’ íƒì‚¬",
            "agency": "NASA"
        }
    ]
}

#### 3. PandasDataFrameOutputParser

In [9]:
import pandas as pd
from langchain.output_parsers import PandasDataFrameOutputParser
from langchain_core.prompts import PromptTemplate
from langchain_openai import ChatOpenAI
import re

# Titanic ë°ì´í„°ì…‹ ë¡œë“œ
df = pd.read_csv('data/titanic/train.csv')

# ChatOpenAI ëª¨ë¸ ì´ˆê¸°í™”
#model = ChatOpenAI(temperature=0, model_name="gpt-3.5-turbo")

# Pandas DataFrame Output Parser ì„¤ì •
parser = PandasDataFrameOutputParser(dataframe=df)

# í˜•ì‹ ì§€ì¹¨ ì¶œë ¥
format_instructions = parser.get_format_instructions()
#print("Format Instructions:\n", format_instructions)

# í”„ë¡¬í”„íŠ¸ í…œí”Œë¦¿ ì„¤ì •
prompt = PromptTemplate(
    template=""" 
    You are a helpful assistant that interacts with a Pandas DataFrame.
    The DataFrame contains the following columns: {columns}.
    
    Your task is to answer the user's query by generating a command in the following format:
    {format_instructions}
    
    User Query: {query}    
    """,
    input_variables=["query"],
    partial_variables={
        "format_instructions": format_instructions,
        "columns": ", ".join(list(df.columns))
    },
)

# ì²´ì¸ ìƒì„±
chain = prompt | model | parser

# ëª¨ë¸ ì‘ë‹µ ë°›ê¸°
try:
    # **Name ì—´ì„ í‘œì‹œí•˜ì‹­ì‹œì˜¤.**
    print('Name ì»¬ëŸ¼ ì¶œë ¥')
    df_query = "Show the Name column"

    parser_output = chain.invoke({"query": df_query})
    print(type(parser_output))
    print(parser_output)

        # **ì²«ë²ˆì§¸ í–‰ì„ í‘œì‹œí•˜ì‹­ì‹œì˜¤.**
    print('ì²«ë²ˆì§¸ í–‰ ì¶œë ¥')
    df_query2 = "Show first row"

    parser_output2 = chain.invoke({"query": df_query2})
    print(parser_output2)

except Exception as e:
    print(f"ì˜¤ë¥˜ ë°œìƒ: {e}")

Name ì»¬ëŸ¼ ì¶œë ¥
ì˜¤ë¥˜ ë°œìƒ: Request 'The command for the user's query is:
```
column:Name
```' is not correctly formatted.                     Please refer to the format instructions.
For troubleshooting, visit: https://python.langchain.com/docs/troubleshooting/errors/OUTPUT_PARSING_FAILURE

In [15]:
import pandas as pd
from langchain.output_parsers import StructuredOutputParser, ResponseSchema
from langchain_core.prompts import PromptTemplate
from langchain_openai import ChatOpenAI

# OpenAI ëª¨ë¸ ì´ˆê¸°í™”
#model = ChatOpenAI(temperature=0, model_name="gpt-3.5-turbo")

# ì‘ë‹µ ìŠ¤í‚¤ë§ˆ ì •ì˜
response_schemas = [
    ResponseSchema(name="data", description="A list of dictionaries representing table rows."),
]

# Output Parser ì„¤ì •
parser = StructuredOutputParser.from_response_schemas(response_schemas)

# í”„ë¡¬í”„íŠ¸ í…œí”Œë¦¿ ì„¤ì •
prompt = PromptTemplate(
    template="""
    You are an AI assistant that generates tabular data. 
    You must return the data in JSON format that follows this schema:
    
    {format_instructions}
        
    **User Query:**
    {query}
    """,
    input_variables=["query"],
    partial_variables={"format_instructions": parser.get_format_instructions()},
)

# ì²´ì¸ ìƒì„± (í”„ë¡¬í”„íŠ¸ â†’ ëª¨ë¸ â†’ OutputParser)
chain = prompt | model | parser

# ì‹¤í–‰ í•¨ìˆ˜
def generate_dataframe(user_query):
    try:
        # ëª¨ë¸ í˜¸ì¶œ
        json_response = chain.invoke({"query": user_query})
        print(json_response)
        
        # ëª¨ë¸ì´ ë°˜í™˜í•œ JSONì„ Pandas DataFrameìœ¼ë¡œ ë³€í™˜
        df = pd.DataFrame(json_response["data"])

        # ê²°ê³¼ ì¶œë ¥
        print("\nğŸ”¹ Generated DataFrame:\n")
        return df

    except Exception as e:
        print(f"âŒ ì˜¤ë¥˜ ë°œìƒ: {e}")
        return None

In [16]:
# [ì˜ˆì œ 1] 2024ë…„ ìƒë°˜ê¸° ì„œìš¸ ì•„íŒŒíŠ¸ í‰ê·  ë§¤ë§¤ ê°€ê²© ë°ì´í„° ìƒì„±
print('2024ë…„ ìƒë°˜ê¸° ì„œìš¸ ì•„íŒŒíŠ¸ í‰ê·  ë§¤ë§¤ ê°€ê²© ë°ì´í„° ìƒì„±')
df_seoul_housing = generate_dataframe(
    "Create a dataset of the average apartment sale prices in Seoul for the first half of 2024 with columns: District (êµ¬), Average Price (in KRW), Number of Transactions, and Year-over-Year Change (%)."
)
df_seoul_housing.head()

2024ë…„ ìƒë°˜ê¸° ì„œìš¸ ì•„íŒŒíŠ¸ í‰ê·  ë§¤ë§¤ ê°€ê²© ë°ì´í„° ìƒì„±
{'data': [{'District': 'Gangnam-gu', 'Average Price': 1500000000, 'Number of Transactions': 1200, 'Year-over-Year Change': 10.2}, {'District': 'Gangdong-gu', 'Average Price': 1200000000, 'Number of Transactions': 900, 'Year-over-Year Change': 8.5}, {'District': 'Gwangjin-gu', 'Average Price': 1800000000, 'Number of Transactions': 1500, 'Year-over-Year Change': 12.1}, {'District': 'Dobong-gu', 'Average Price': 900000000, 'Number of Transactions': 600, 'Year-over-Year Change': 6.3}, {'District': 'Dongdaemun-gu', 'Average Price': 1000000000, 'Number of Transactions': 800, 'Year-over-Year Change': 7.1}, {'District': 'Dongjak-gu', 'Average Price': 1100000000, 'Number of Transactions': 700, 'Year-over-Year Change': 8.2}, {'District': 'Eunpyeong-gu', 'Average Price': 1300000000, 'Number of Transactions': 1000, 'Year-over-Year Change': 9.5}, {'District': 'Geumcheon-gu', 'Average Price': 800000000, 'Number of Transactions': 500, 'Year-over-Year Change': 5.6}, {'District': 'Guro-gu', 'Average Price': 950000000, 'Number of Transactions': 650, 'Year-over-Year Change': 6.9}, {'District': 'Kwangju', 'Average Price': 1400000000, 'Number of Transactions': 1100, 'Year-over-Year Change': 11.5}, {'District': 'Mapo-gu', 'Average Price': 1600000000, 'Number of Transactions': 1300, 'Year-over-Year Change': 11.8}, {'District': 'Nowon-gu', 'Average Price': 1000000000, 'Number of Transactions': 750, 'Year-over-Year Change': 7.5}, {'District': 'Seodaemun-gu', 'Average Price': 1200000000, 'Number of Transactions': 850, 'Year-over-Year Change': 8.8}, {'District': 'Seongdong-gu', 'Average Price': 1700000000, 'Number of Transactions': 1400, 'Year-over-Year Change': 12.5}, {'District': 'Songpa-gu', 'Average Price': 1900000000, 'Number of Transactions': 1600, 'Year-over-Year Change': 13.2}, {'District': 'Yangcheon-gu', 'Average Price': 1050000000, 'Number of Transactions': 580, 'Year-over-Year Change': 7.8}, {'District': 'Yangchung-gu', 'Average Price': 1150000000, 'Number of Transactions': 680, 'Year-over-Year Change': 8.9}, {'District': 'Yongdaebang-gu', 'Average Price': 1250000000, 'Number of Transactions': 900, 'Year-over-Year Change': 10.5}]}

ğŸ”¹ Generated DataFrame:

        District  Average Price  Number of Transactions  Year-over-Year Change
0     Gangnam-gu     1500000000                    1200                   10.2
1    Gangdong-gu     1200000000                     900                    8.5
2    Gwangjin-gu     1800000000                    1500                   12.1
3      Dobong-gu      900000000                     600                    6.3
4  Dongdaemun-gu     1000000000                     800                    7.1

In [17]:
print('2024ë…„ ì„œìš¸ ì§€í•˜ì² ì—­ë³„ ìœ ë™ ì¸êµ¬ ë°ì´í„°')
# [ì˜ˆì œ 2] 2024ë…„ ì„œìš¸ ì§€í•˜ì² ì—­ë³„ ìœ ë™ ì¸êµ¬ ë°ì´í„°
df_seoul_subway = generate_dataframe(
    "Generate a dataset of the top 10 busiest subway stations in Seoul in 2024 with columns: Station Name, Line Number, Daily Passenger Volume, and Weekday vs Weekend Ratio."
)
if df_seoul_subway is not None:
    df_seoul_subway.head()

2024ë…„ ì„œìš¸ ì§€í•˜ì² ì—­ë³„ ìœ ë™ ì¸êµ¬ ë°ì´í„°
{'data': [{'Station Name': 'Gwanghwamun Station', 'Line Number': 'Line 5', 'Daily Passenger Volume': '145,621', 'Weekday vs Weekend Ratio': '1.23'}, {'Station Name': 'Gangnam Station', 'Line Number': 'Line 2', 'Daily Passenger Volume': '134,118', 'Weekday vs Weekend Ratio': '1.17'}, {'Station Name': 'Hongdae Station', 'Line Number': 'Line 2', 'Daily Passenger Volume': '126,479', 'Weekday vs Weekend Ratio': '1.21'}, {'Station Name': 'Yongsan Station', 'Line Number': 'Line 1, Line 4', 'Daily Passenger Volume': '123,456', 'Weekday vs Weekend Ratio': '1.19'}, {'Station Name': 'Itaewon Station', 'Line Number': 'Line 4', 'Daily Passenger Volume': '114,285', 'Weekday vs Weekend Ratio': '1.15'}, {'Station Name': 'Apgujeong Station', 'Line Number': 'Line 2', 'Daily Passenger Volume': '109,834', 'Weekday vs Weekend Ratio': '1.13'}, {'Station Name': 'Dongdaemun History & Culture Park Station', 'Line Number': 'Line 1, Line 4, Line 5', 'Daily Passenger Volume': '107,483', 'Weekday vs Weekend Ratio': '1.18'}, {'Station Name': 'Jamsil Station', 'Line Number': 'Line 2', 'Daily Passenger Volume': '104,269', 'Weekday vs Weekend Ratio': '1.12'}, {'Station Name': 'Bongeunsa Temple Station', 'Line Number': 'Line 2', 'Daily Passenger Volume': '98,765', 'Weekday vs Weekend Ratio': '1.09'}, {'Station Name': 'Samseong Station', 'Line Number': 'Line 2', 'Daily Passenger Volume': '96,432', 'Weekday vs Weekend Ratio': '1.11'}]}

ğŸ”¹ Generated DataFrame:

In [18]:
df_seoul_subway.head()

,Station Name,Line Number,Daily Passenger Volume,Weekday vs Weekend Ratio
0,Gwanghwamun Station,Line 5,"145,621",1.23
1,Gangnam Station,Line 2,"134,118",1.17
2,Hongdae Station,Line 2,"126,479",1.21
3,Yongsan Station,"Line 1, Line 4","123,456",1.19
4,Itaewon Station,Line 4,"114,285",1.15

In [19]:
print('í•œêµ­ 5ëŒ€ í¸ì˜ì  ë¸Œëœë“œë³„ 2024ë…„ ë§¤ì¶œ ë° ì í¬ ìˆ˜')
# [ì˜ˆì œ 3] í•œêµ­ 5ëŒ€ í¸ì˜ì  ë¸Œëœë“œë³„ 2024ë…„ ë§¤ì¶œ ë° ì í¬ ìˆ˜
df_korean_convenience_stores = generate_dataframe(
    "Create a dataset of the top 5 convenience store brands in Korea in 2024 with columns: Brand Name, Number of Stores, Total Revenue (in billion KRW), and Market Share (%)."
)
df_korean_convenience_stores.head()

í•œêµ­ 5ëŒ€ í¸ì˜ì  ë¸Œëœë“œë³„ 2024ë…„ ë§¤ì¶œ ë° ì í¬ ìˆ˜
{'data': [{'Brand Name': 'GS25', 'Number of Stores': 18, 'Total Revenue': 11.5, 'Market Share': 34.6}, {'Brand Name': 'CU', 'Number of Stores': 15, 'Total Revenue': 9.8, 'Market Share': 29.4}, {'Brand Name': '7-Eleven', 'Number of Stores': 12, 'Total Revenue': 7.2, 'Market Share': 21.6}, {'Brand Name': 'E-Mart24', 'Number of Stores': 8, 'Total Revenue': 4.5, 'Market Share': 13.5}, {'Brand Name': 'Homeplus', 'Number of Stores': 5, 'Total Revenue': 3.2, 'Market Share': 9.6}]}

ğŸ”¹ Generated DataFrame:

  Brand Name  Number of Stores  Total Revenue  Market Share
0       GS25                18           11.5          34.6
1         CU                15            9.8          29.4
2   7-Eleven                12            7.2          21.6
3   E-Mart24                 8            4.5          13.5
4   Homeplus                 5            3.2           9.6